.theme-buttons-list {
    /* align-items: center; */
    margin-bottom: 2px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    transform: translateY(-1px);
}
