.contributions-title {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    font-weight: normal;
    font-size: 18px;
    justify-self: flex-start;
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: 0px;
}

.contributions-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F1F1F1;
  border-radius: 2%;
  height: 40vh;
  overflow-y: auto;
  padding: 20px;
  margin: 0px;
  margin-top: 8px;
  border: 4px solid #F1F1F1;
}
