.profile-header-container {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}


.profile-user-icon-container {
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
    width: 100px;
    height: 100px;
    /* background-color: green; */
}

.profile-user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    /* background-color: blue; */
}


.profile-user-name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 33px;
    /* background-color: pink; */
}
