.theme-button {
    display: flex;
    background-color: #ffffff;
    color: black;
    border-radius: 4px;
    padding: 1px 19px 1px 19px;
    min-width: 10px;
    width: auto;
    height: auto;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 200;
    justify-content: center;
    cursor: pointer;
    border: none;
}


 /* il faut que le bouton se stretch sur la longueur de son texte */